@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

/* Body uses Inter */
body {
  font-family: var(--font-inter);
}

/* Headings use Playfair */
h1, h2, h3, h4, h5 {
  font-family: var(--font-playfair);
}
